/* ep.css */

* {
	font-family: 'Scala Sans', sans-serif;
}

body {
	line-height: 1.38;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Scala Sans Pro', sans-serif;
}

h4 {
	font-size: 0.8em;
}

.progress-bar {
	background: #ac2629;
}

.st-footer {
	font-family: 'Scala Sans', sans-serif;
}

.st-nav {
	height: 30px;
	margin: 8px 0 8px 0;
	padding: 2px;
}

.st-nav .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.st-nav ul li {
	display: inline-block;
	height: 8px;
	margin: 0 0 0 8px;
	text-transform: uppercase;
}

.st-nav a, .st-nav label,.st-nav select {
	font-size: 12px;
}

